{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-branch-amenities',
] %}

{% set branch_amenities_id = 'branch-amenitie s-' ~ configuration['block_revision_id'] %}
{{ attach_library('lb_branch_amenities_blocks/lb_branch_amenities_blocks') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  <div class="container">
    {% if block_content.field_image.entity.field_media_image.entity.uri.value %}
      {% set image = block_content.field_image.entity.field_media_image.entity.uri.value %}
      {% set image_alt = block_content.field_image.entity.field_media_image.0.alt %}
      {% set image_src = file_url(image|image_style('amenities_image')) %}
      <div class="image-wrapper col-6 row d-md-block d-none">
        <img src="{{ image_src }}" class="item-image d-none d-md-block"
             alt="{{ image_alt }}">
      </div>
    {% endif %}
    <div class="content row">
      {{ title_prefix }}
      {% if label %}
        <h3{{ title_attributes }}>{{ label }}</h3>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
      <div class="branch-amenities col-12"
           id="{{ branch_amenities_id }}">
        <div class="section-description">
          {{ content|without('field_location_amenities', 'field_location_amenities_closed', 'field_image') }}
        </div>
        <ul class="field-amenities" aria-label="{{ "Branch Amenities"|t }}">
          {% if content.field_location_amenities %}
            {% for key, item in content.field_location_amenities %}
              <li class="amenity check">{{ item }}<span class="sr-only"> ({{ "open"|t }})</span></li>
            {% endfor %}
          {% endif %}
          {% if content.field_location_amenities_closed %}
            {% for key, item in content.field_location_amenities_closed %}
              <li class="amenity uncheck">{{ item }}<span class="sr-only"> ({{ "closed"|t }})</span></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
